.header {
  width: 100%;
  height: 75px;
  background-color: #519872;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header > h1, .header > img {
  position: absolute;
  top: 23px;
}

.header > h1 {
  left: 445px;
}