.header {
  background-color: #519872;
  color: #fff;
  width: 100%;
  height: 75px;
  font-weight: 700;
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}