.house__container {
  background: #dedede;
  display: flex;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.house__image {
  width: 100%;
}

.house__image-container,
.house__info,
.house__rent-info {
  flex: 0 0 33%;
  padding: 10px;
}

.house__delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}