.App {
  padding-top: 75px;
  background-color: #afd4c0;
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Open Sans;
}
